* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 89, 89);
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
}
