<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h2>Signup</h2>
    <form method="POST">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->

        <form action="#" >
            <label>username</label><br>
            {{ form.username }}
            <br>
            <label>mail</label><br>
            {{ form.email }}
            <br>
            <label>password</label><br>
            {{ form.password1 }}
            <br>
            <label>confirm password</label><br>
            {{ form.password2 }}
            <br>
            <br>
            <button type="submit">Signup</button>
        </form>
    </form>
</body>
</html>
