<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI-Generated Quiz | QuizBOT</title>
    <link rel="stylesheet" href="/css/ai-generated.css" />
  </head>
  <body>
    <div class="container">
      <h1>Your QUIZ Is Going To Create</h1>
      <h2>Select Your Preference</h2>
      <form action="">
        <label for="">A. Select a subject area for your QUIZ.</label>
        <br />
        <select>
          <option value="">Subject for quiz</option>
          <option value="">Algo. & Data Structures</option>
          <option value="">Artificial Intelligence</option>
          <option value="">Basic Computer</option>
          <option value="">Cloud Computing</option>
          <option value="">Computer Hardware</option>
          <option value="">Computer Networks</option>
          <option value="">Cyber Security</option>
          <option value="">DataBase Management</option>
          <option value="">Linux OS</option>
          <option value="">Mobile Development</option>
          <option value="">MS Office</option>
          <option value="">Operating Systems</option>
          <option value="">Programming Languages</option>
          <option value="">Software Engineering</option>
          <option value="">Software Testing</option>
          <option value="">Web Development</option>
        </select>
        <br />
        <label for="">B. Choose a difficulty level of your QUIZ.</label>
        <br />
        <select>
          <option value="">Level of question</option>
          <option value="">Beginner</option>
          <option value="">Intermediate</option>
          <option value="">Advance</option>
        </select>
        <br />
        <label for="">C. Select the type of questions you prefer.</label>
        <br />
        <select>
          <option value="">Type of question</option>
          <option value="">MCQs Based</option>
          <option value="">Fill in the Blanks</option>
          <option value="">True or False</option>
        </select>
        <br />
        <label for=""
          >D. How many questions whould you like in your QUIZ ?</label
        >
        <br />
        <input type="number" value="10" />
        <br />
        <div class="div">
          <input type="submit" value="Generate Quiz" />
        </div>
      </form>
    </div>
  </body>
</html>
