<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizBOT</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- --------------------------------------------------- -->
      <div class="navbar">
        <div class="left">
          <img src="/images/new-logo-green.png" />
        </div>
        <div class="center">
          <a href="">About</a>
          <a href="">Leaderboard</a>
          <a href="">Feedback</a>
        </div>
        <div class="right">
          <a href="/HTML/login.html">Log in</a>
          <a href="/HTML/register.html">Sign up</a>
        </div>

        <div class="mobile-nav-icon">
          <i class="fa-solid fa-bars fa-2xl" id="mobileMenu"></i>
        </div>
      </div>
      <!-- --------------------------------------------------- -->

      <div class="mobileMenuDiv" id="mobileMenuDiv">
        <div class="mobileLinks">
          <a href="">About</a>
          <a href="">Leaderboard</a>
          <a href="">Feedback</a>
        </div>
        <div class="mobileBtns">
          <a href="/HTML/login.html">Log in</a>
          <a href="/HTML/register.html">Sign up</a>
        </div>
      </div>

      <!-- --------------------------------------------------- -->

      <div class="homePage">
        <h2>Welcome TO QuizBOT</h2>
        <p>AI-Powered QUIZES, Where Learning Meets Innovation.</p>
        <div class="buttons">
          <button id="startBtn">START QUIZ</button>
        </div>
      </div>

      <!-- --------------------------------------------------- -->
    </div>
    <div class="start-quiz-popup">
      <h1>Select your quiz type</h1>
      <i class="fa-solid fa-xmark fa-lg"></i>
      <div class="first-option">
        <h2>AI-Generated QUIZ</h2>
        <p>
          Get quizzes generated automatically by our AI based on your interests.
          Just select a topic, and let the AI create a fun quiz for you!
        </p>
        <a href="/HTML/ai-generated.html">AI Generated Quiz</a>
      </div>
      <div class="second-option">
        <h2>Custom QUIZ</h2>
        <p>
          Create your own quiz with custom questions and answers. Design your
          quiz the way you want and share it with others!
        </p>
        <a href="/HTML/custom-quiz.html">Custom Quiz</a>
      </div>
    </div>

    <script src="/JavaScript/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
  </body>
</html>
