<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Page</title>
    <link rel="stylesheet" href="/css/questions.css" />
  </head>
  <body>
    <h1>Cyber Security Quiz</h1>
    <div class="quiz-container">
      <div id="quiz"></div>
    </div>
    <button id="submit-btn">Submit Answers</button>
    <div id="result">Result will show here after completion of Quiz.</div>
    <script src="/JavaScript/questions.js"></script>
  </body>
</html>
