@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
:root {
  --foreground: #1a5319;
  --background: #80af81;
  --main-bg: #d6efd8;
}
body {
  width: 100%;
  height: 100vh;
  background: var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 45%;
  height: 83vh;
  border: 2px solid var(--foreground);
  border-radius: 18px;
  padding: 22px;
  text-align: center;
}
h1 {
  color: var(--foreground);
}
h2 {
  margin-bottom: 32px;
  color: var(--foreground);
}
form label {
  font-size: 20px;
  font-weight: 600;
  color: var(--foreground);
}
form select {
  background-color: var(--foreground);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  margin: 8px 0px 24px 0px;
  transition: 0.3s ease-out;
  border: none;
}

form input {
  background: var(--foreground);
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  border: none;
  transition: 0.3s ease-out;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  margin: 8px 0px 24px 0px;
}
form input:last-child:hover {
  background: var(--foreground);
  color: white;
}
form input:nth-last-child(3) {
  width: 75px;
}

form input:last-child {
  background: var(--main-bg);
  border: 1px solid var(--foreground);
  color: var(--foreground);
  padding: 10px 20px;
}
.div {
  text-align: center;
}

@media (max-width: 1300px) {
  .container {
    min-width: 90%;
    min-height: 98vh;
  }
}

@media (max-width: 720px) {
  .container {
    text-align: left;
    min-height: 98vh;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 20px;
  }
  form label {
    font-size: 18px;
  }
  form select {
    font-size: 15px;
  }
  form input {
    font-size: 15px;
  }
}
