@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

:root {
  --foreground: #1a5319;
  --background: #80af81;
  --main-bg: #d6efd8;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--main-bg);
}
.spinner {
  margin-left: 15px;
  width: 33px;
  height: 33px;
  border: 4px solid;
  border-radius: 50%;
  border-color: var(--foreground) transparent;
  animation: spinner 0.8s backwards infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 90%;
  min-height: 85vh;
  border: 1px solid black;
}

.heading {
  display: flex;
  justify-content: start;
  align-items: center;
}
.rows input {
  margin: 1vh 1.5vh 0vh 2vh;
}
.rows {
  margin: 4vh 0vh;
  font-size: 2.3vh;
}
.rows p {
  font-size: 3.3vh;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}
.options {
  width: 100%;
  height: 18vh;
  display: flex;
  justify-content: space-evenly;
}
.options .column {
  width: 24%;
}
.column .line {
  padding: 0.4vh;
  font-size: 2.3vh;
}
.line input {
  margin-right: 1vh;
}
.number {
  width: 13vh;
  height: 5vh;
  padding: 0.5vh 1vh;
  outline: none;
  font-size: 1.9vh;
}

@media (max-width: 1353px) {
  .options {
    flex-direction: column;
  }
}
