@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  margin: 0;
  background: url(/backgrounds/5.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100vh;
  padding-right: 14vh;
}

.login-container {
  height: 45vh;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  max-width: 350px;
  width: 80%;
  border-radius: 8px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 4vh;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 13px;
  font-size: 18px;
  margin: 10px 0px;
  border: 1px solid #000000;
  box-sizing: border-box;
  outline: none;
  border-radius: 8px;
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 13px;
  font-size: 18px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px 0px;
  border-radius: 8px;
}

.login-form span {
  font-size: 15px;
  margin: 10px 0px;
}

@media only screen and (max-width: 600px) {
  .login-container {
    width: 90%;
    max-width: 300px;
    border-radius: 5px;
  }
}
