@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
:root {
  --foreground: #1a5319;
  --background: #80af81;
  --main-bg: #d6efd8;
}
body {
  width: 100%;
  height: 100vh;
  background: var(--main-bg);
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quiz-container {
  max-width: 75%;
  min-height: 65vh;
  border: 2px solid var(--background);
  padding: 25px;
  margin: 25px 0px;
}
button {
  padding: 8px 12px;
  font-size: 2vh;
  border-radius: 1vh;
  border: 1px solid var(--foreground);
  background-color: var(--main-bg);
  color: var(--foreground);
  transition: 0.5s ease;
}
button:hover {
  background: var(--foreground);
  color: #fff;
}
#result {
  padding: 15px;
  font-size: 20px;
  border: 1px solid var(--background);
  border-radius: 2vh;
  margin: 25px 0px;
}
