@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --foreground: #1a5319;
  --background: #80af81;
  --main-bg: #d6efd8;
}

body {
  margin: 0;
  background: var(--main-bg);
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration-container {
  padding: 20px;
  background: transparent;
  box-shadow: 0 0 10px var(--foreground);
  border-radius: 10px;
  max-width: 350px;
  width: 80%;
}

.registration-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--foreground);
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  color: var(--foreground);
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid var(--foreground);
  background: transparent;
  transition: 0.3s ease-in-out;
  scale: 0.98;
}

.registration-form input[type="text"]:hover,
.registration-form input[type="email"]:hover,
.registration-form input[type="password"]:hover {
  scale: 1;
}

.registration-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--foreground);
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  scale: 0.98;
  transition: 0.3s ease-in-out;
}

.registration-form input[type="submit"]:hover {
  scale: 1;
  font-size: 15px;
}

.registration-form span {
  font-size: 13px;
}

.registration-form span a {
  color: var(--foreground);
  text-decoration: none;
}
.registration-form span a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .registration-container {
    width: 90%;
    max-width: 300px;
  }
}
