@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --foreground: #1a5319;
  --background: #80af81;
  --main-bg: #d6efd8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--main-bg);
}
.container-active {
  opacity: 0.1;
  pointer-events: none;
}
.navbar {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0%;
  background-color: var(--main-bg);
}
.navbar .left {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .center {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center a {
  text-decoration: none;
  color: var(--foreground);
  font-size: 2.5vh;
  margin: 0 3vh;
  transition: 0.3s;
}
.center a:hover {
  font-weight: 600;
}
.navbar .right {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right a {
  text-decoration: none;
  color: var(--foreground);
  border: 1px solid var(--foreground);
  border-radius: 1vh;
  font-size: 2.5vh;
  margin: 0 2vh;
  padding: 0.6vh 1.2vw;
  transition: 0.6s ease-in-out;
}
.right a:hover {
  background-color: var(--foreground);
  color: #fff;
}
.navbar .mobile-nav-icon {
  display: none;
}

/* ------------------- */

.mobileMenuDiv {
  width: 100%;
  height: auto;
  background: var(--foreground);
  position: absolute;
  top: 12vh;
  display: none;
}

.mobileLinks {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mobileLinks a {
  text-decoration: none;
  color: var(--main-bg);
  font-size: 2.2vh;
  margin: 5px 0px;
  transition: 0.3s;
}
.mobileLinks a:hover {
  font-weight: 600;
}

.mobileBtns {
  padding: 10px 0px 25px 0px;
  text-align: center;
}
.mobileBtns a {
  text-decoration: none;
  color: var(--main-bg);
  border: 1px solid var(--main-bg);
  border-radius: 1vh;
  font-size: 2.2vh;
  margin: 0px 18px;
  padding: 5px 10px;
  transition: 0.5s ease-in-out;
}
.mobileBtns a:hover {
  background-color: var(--main-bg);
  color: var(--foreground);
}

/* ------------------- */

.homePage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homePage h2 {
  font-size: 5vw;
  text-transform: uppercase;
  color: var(--foreground);
}
.homePage p {
  font-size: 2vw;
  margin: 0vw 0vw 2.5vw 0vw;
  color: var(--foreground);
}

.homePage .buttons button {
  border: 1px solid var(--foreground);
  color: var(--foreground);
  padding: 0.5vw 1.5vw;
  text-decoration: none;
  border-radius: 1vh;
  font-size: 1.2vw;
  transition: 0.6s ease-in-out;
  letter-spacing: 1px;
  background: var(--main-bg);
}
.buttons a:hover,
.homePage .buttons button:hover {
  border: 1px solid transparent;
  background-color: var(--foreground);
  color: white;
}

.start-quiz-popup {
  min-width: 60%;
  min-height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  border-radius: 1vw;
  border: 2px solid var(--foreground);
  padding: 1vw 2vw;
  background: var(--main-bg);
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
  color: var(--foreground);
  transition: 0.6s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
}
.start-quiz-popup.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.start-quiz-popup .fa-solid {
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px 8px;
  margin: 20px;
  background: var(--foreground);
  color: var(--main-bg);
  border-radius: 25%;
  /* border-radius: 0px 10px 0px 0px; */
}

.start-quiz-popup h1 {
  font-size: 1.8vw;
  text-transform: uppercase;
  border-bottom: 1px solid var(--foreground);
}

.start-quiz-popup .first-option,
.start-quiz-popup .second-option {
  min-height: 150px;
}
.start-quiz-popup .first-option h2,
.start-quiz-popup .second-option h2 {
  font-size: 1.5vw;
  text-transform: uppercase;
}
.start-quiz-popup .first-option p,
.start-quiz-popup .second-option p {
  font-size: 1.2vw;
  word-spacing: 1px;
  letter-spacing: 0.2px;
  margin-bottom: 2.4vh;
  font-weight: 600;
}
.start-quiz-popup .first-option a,
.start-quiz-popup .second-option a {
  text-decoration: none;
  border: 1px solid var(--foreground);
  font-size: 1.2vw;
  word-spacing: 1px;
  letter-spacing: 0.3px;
  padding: 0.4vw 0.6vw;
  border-radius: 5px;
  color: var(--foreground);
  font-weight: 600;
  transition: 0.6s ease-in-out;
}
.start-quiz-popup .first-option a:hover,
.start-quiz-popup .second-option a:hover {
  border: 1px solid transparent;
  background-color: var(--foreground);
  color: white;
}

/* ============================================ */

@media (max-width: 1200px) {
  .homePage h2 {
    font-size: 8vh;
  }
  .homePage p {
    font-size: 3vh;
  }
  .homePage .buttons button {
    font-size: 1.6vw;
    padding: 0.7vw 1.5vw;
  }
  .start-quiz-popup {
    width: 65%;
  }
  .start-quiz-popup h1 {
    font-size: 4vh;
  }
  .start-quiz-popup .first-option h2,
  .start-quiz-popup .second-option h2 {
    font-size: 3vh;
  }
  .start-quiz-popup .first-option p,
  .start-quiz-popup .second-option p {
    font-size: 2.3vh;
  }
  .start-quiz-popup .first-option a,
  .start-quiz-popup .second-option a {
    font-size: 2.5vh;
    padding: 0.6vh 0.8vh;
  }
}
@media (max-width: 850px) {
  .navbar .center {
    display: none;
  }
  .navbar .right {
    display: none;
  }
  .navbar .mobile-nav-icon {
    display: block;
  }

  .homePage h2 {
    font-size: 8vh;
  }
  .homePage p {
    font-size: 3vh;
  }
  .homePage .buttons button {
    font-size: 2.6vh;
    padding: 1vh 2vh;
  }

  .start-quiz-popup {
    width: 65%;
  }
  .start-quiz-popup h1 {
    font-size: 3.3vh;
  }
  .start-quiz-popup .first-option h2,
  .start-quiz-popup .second-option h2 {
    font-size: 2.6vh;
  }
  .start-quiz-popup .first-option p,
  .start-quiz-popup .second-option p {
    font-size: 2vh;
  }
  .start-quiz-popup .first-option a,
  .start-quiz-popup .second-option a {
    font-size: 2.2vh;
    padding: 0.6vh 0.8vh;
  }
}

@media (max-width: 700px) {
  .navbar .left {
    width: 50%;
  }
  .homePage h2 {
    text-align: center;
  }
  .homePage p {
    text-align: center;
  }
  .start-quiz-popup h1 {
    font-size: 3vh;
  }
  .start-quiz-popup .first-option h2,
  .start-quiz-popup .second-option h2 {
    font-size: 2.4vh;
  }
  .start-quiz-popup .first-option p,
  .start-quiz-popup .second-option p {
    font-size: 1.8vh;
  }
  .start-quiz-popup .first-option a,
  .start-quiz-popup .second-option a {
    font-size: 2vh;
    padding: 0.8vh 1vh;
  }
}

@media (max-width: 635px) {
  .start-quiz-popup {
    width: 85%;
  }
  .start-quiz-popup .fa-solid {
    font-size: 11px;
    padding: 10px 6px;
    margin: 10px;
    border-radius: 50%;
  }
  .start-quiz-popup {
    width: 65%;
  }
  .start-quiz-popup h1 {
    font-size: 3vh;
  }
  .start-quiz-popup .first-option h2,
  .start-quiz-popup .second-option h2 {
    font-size: 2.5vh;
  }
  .start-quiz-popup .first-option p,
  .start-quiz-popup .second-option p {
    font-size: 2vh;
  }
  .start-quiz-popup .first-option a,
  .start-quiz-popup .second-option a {
    font-size: 2vh;
    padding: 0.8vh 1vh;
  }
}
@media (max-width: 500px) {
  .navbar .left img {
    width: 85%;
  }
  .homePage h2 {
    font-size: 6vh;
    margin-bottom: 3vh;
  }
  .homePage p {
    font-size: 2vh;
    margin-bottom: 4vh;
  }
  .start-quiz-popup {
    width: 80%;
    border-radius: 10px;
    padding: 18px;
  }
  .start-quiz-popup h1 {
    font-size: 2.6vh;
  }
  .start-quiz-popup .first-option h2,
  .start-quiz-popup .second-option h2 {
    font-size: 2.4vh;
  }
  .start-quiz-popup .first-option p,
  .start-quiz-popup .second-option p {
    font-size: 1.8vh;
  }
  .start-quiz-popup .first-option a,
  .start-quiz-popup .second-option a {
    font-size: 2vh;
    padding: 1vh 1.4vh;
  }
}
